<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
      <link rel="stylesheet" href="/css/styles.css">
      <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
    <h1>Update information for the client {{ client.getClient }} </h1>
    <div class="row well">
    <div class="col-sm-4">
    <form action="/clients/{{ client.getId }}" method="post">
      <input name="_method" type="hidden" value="patch">

      <label class="label" for="name">Rename your client:</label>
      <input id="name" name="name" type="text" placeholder="First, Last" required>

      <button class="btn btn-warning" type="submit">Update</button>
    </form>

    <form action="/clients/{{ client.getId }}" method="post">
      <input name="_method" type="hidden" value="delete">
      <br>
      <button class="btn btn-danger" type="submit">Delete client {{ client.getClient }}</button>
      <br>
      <br>
      <a href='/' class="btn btn-primary" role="button">Home</a>
    </form>
    </div>
    </div>
    </div>
  </body>
</html>
