<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
      <link rel="stylesheet" href="/css/styles.css">
      <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Hair Salon Manager</h1>
      <div class="row well">
        <div class="col-sm-4">


      {% if stylists is not empty %}
          <h4>Here are all your stylists:</h4>
              {% for stylist in stylists %}
                  <h4>{{ stylist.getStylist }}
                    <a href="/stylists/{{ stylist.getId }}" class="btn btn-warning btn-xs" role="button">Edit Stylist</a></h4>
              {% endfor %}
      {% else %}
        <h3>There are no stylists on your list. Please enter a name below.</h3>
      {% endif %}

      <h5>Create a new stylist:</h5>

      <form action="/stylists" method="post">
          <label class="label" for="name">New Stylist Name:</label>
          <input id="name" name="name" type="text" placeholder="First, Last" required>
          <br>
          <br>
          <button type="submit">Add stylist</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
