<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Welcome to the Hair Salon Manager</h1>

    <p><a href="/stylists">Click here</a> to see all of the stylists and to add a stylist.</p>
    <p><a href="/clients">Click here</a> to see all of the clients and to add a client.</p>

  </body>
</html>
