<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Clients of {{ stylist.getStylist }}</h1>

    {% if clients is not empty %}
        <ul>
            {% for client in clients %}
                <li>{{ client.getClient }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Add a client</h3>

    <form action='/stylist/{{ stylist.getId }}' method='post'>
        <input name="name" type="text">
        <button type='submit'>Add client</button>
    </form>


    <form action='/delete_clients' method='post'>
        <button type='submit'>Clear</button>
    </form>

    <p><a href="/stylists/{{ stylist.getId }}/edit">Edit this stylist</a></p>

    <p><a href='/'>Home</a></p>

  </body>
</html>
